{% extends "network/layout.html" %}

{% block bg %}
<style>
    body {
        background-image: url(../static/img/s6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: auto;
    }
</style>
{% endblock %}

{% block body %}

<div class="content">
    <div class="log_io_box">
        <h1>Register</h1>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="reg_bdive">
                <input class="reg_b" type="submit" value="Register">
            </div>
        </form>     
    </div>
<div class="ri_p">
    <p>Already have an account? <a class="r_a" href="{% url 'login' %}">Log In here.</a></p>
</div>    
   
</div>

{% endblock %}

{% block footer %}  
    <div class="footer">
{% endblock %}