@import "style.css";

body {
    background-color: rgb(0, 0, 0);
}

.profile_page {
    padding: 5%;
}

.myp_box {
    background-color: blanchedalmond;
}

.sb {
    color: #fff;
    background-color: #00C5E5;
    border-color: #00C5E5;
}

#like {
    color: red;
}

#haha > span {
    color: red;
}